absl-py==0.1.12
amqp==2.2.2
asn1crypto==0.24.0
astor==0.6.2
astroid==1.6.2
attrs==18.1.0
autovizwidget==0.12.5
beautifulsoup4==4.6.0
billiard==3.5.0.3
bleach==1.5.0
-e git+https://github.com/SohierDane/BigQuery_Helper@20ae31a6517567b776e0c71acc65ab1a097c41ee#egg=bq_helper
bs4==0.0.1
bt==0.2.5
cached-property==1.4.2
cachetools==2.1.0
celery==4.2.0
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
click==6.7
cryptography==2.2.2
cycler==0.10.0
decorator==4.2.1
defusedxml==0.5.0
dill==0.2.7.1
docker==3.3.0
docker-compose==1.21.2
docker-pycreds==0.2.3
dockerpty==0.4.1
docopt==0.6.2
entrypoints==0.2.3
enum34==1.1.6
ez-setup==0.9
ffn==0.3.3
findspark==1.2.0
first==2.0.1
flake8==3.5.0
Flask==0.12.2
future==0.16.0
gast==0.2.0
google-api-core==1.2.0
google-auth==1.5.0
google-cloud-bigquery==1.3.0
google-cloud-core==0.28.1
google-cloud-storage==1.10.0
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
graphviz==0.8.3
greenlet==0.4.13
grpcio==1.10.0
gym==0.10.5
h5py==2.7.1
hdijupyterutils==0.12.5
html5lib==0.9999999
hyperopt==0.1
idna==2.6
imageio==2.3.0
ipykernel==4.8.2
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.2.1
isort==4.3.4
itsdangerous==0.24
jedi==0.11.1
Jinja2==2.10
jira==1.0.15
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyterthemes==0.19.1
Keras==2.1.5
kiwisolver==1.0.1
kombu==4.2.1
lazy-object-proxy==1.3.1
lesscpy==0.13.0
lxml==4.2.1
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.2
mccabe==0.6.1
mistune==0.8.3
mock==2.0.0
more-itertools==4.1.0
msgpack==0.5.6
multiprocess==0.70.5
nbconvert==6.5.1
nbformat==4.4.0
neovim==0.2.4
networkx==2.1
nose==1.3.7
notebook==5.4.1
ntlm-auth==1.1.0
numpy==1.14.3
oauthlib==2.1.0
pandas==0.23.0
pandas-datareader==0.6.0
pandocfilters==1.4.2
parso==0.1.1
pathos==0.2.1
patsy==0.5.0
pbr==4.0.3
pep8==1.7.1
pexpect==4.4.0
pickleshare==0.7.4
Pillow==5.1.0
pip-autoremove==0.9.0
pip-tools==1.11.0
plotly==2.6.0
pluggy==0.6.0
ply==3.11
pox==0.2.3
ppft==1.6.4.7.1
prompt-toolkit==1.0.15
protobuf==3.5.2.post1
ptyprocess==0.5.2
py==1.5.3
py4j==0.10.6
pyasn1==0.4.3
pyasn1-modules==0.2.1
pycodestyle==2.3.1
pycparser==2.18
pydotplus==2.0.2
pyflakes==1.6.0
pyglet==1.3.2
Pygments==2.2.0
pykerberos==1.2.1
pylint==1.8.3
pymongo==3.7.1
pyparsing==2.2.0
PyPrind==2.11.2
PyQt5==5.10.1
pyspark==2.3.0
pytest==3.5.0
python-dateutil==2.7.0
pytz==2018.3
pywinrm==0.3.0
PyYAML==3.12
pyzmq==17.0.0
qtconsole==4.3.1
redis==2.10.6
requests==2.18.4
requests-file==1.4.3
requests-ftp==0.3.1
requests-kerberos==0.12.0
requests-ntlm==1.1.0
requests-oauthlib==0.8.0
requests-toolbelt==0.8.0
rsa==3.4.2
scikit-learn==0.19.1
scipy==1.1.0
seaborn==0.8.1
Send2Trash==1.5.0
simplegeneric==0.8.1
sip==4.19.8
six==1.11.0
sklearn==0.0
sparkmagic==0.12.5
SQLAlchemy==1.2.7
statsmodels==0.9.0
tabulate==0.8.2
tensorboard==1.6.0
tensorflow==1.6.0
tensorflow-tensorboard==0.4.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
texttable==0.9.1
torch==0.4.0
torchvision==0.2.1
tornado==5.0.2
tqdm==4.19.8
traitlets==4.3.2
urllib3==1.22
vine==1.1.4
wcwidth==0.1.7
websocket-client==0.47.0
Werkzeug==0.14.1
widgetsnbextension==3.2.1
wrapt==1.10.11
xlrd==1.1.0
xmltodict==0.11.0
